table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #c5bdbd;
  align-items: center;
  justify-content: center;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
  border: 1px solid #c5bdbd;
}

thead {
  justify-content: center;
}

.active {
  color: blue;
}

tr {
  background: #f9f9f9;
}

tr:nth-child(even) {
  background: #fff;
}

th {
  font-weight: bold;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.container {
  justify-content: center;
}

.main-container {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  width: auto;
}

.container-description {
  width: 65%;
}

.container-title {
  text-align: center;
  justify-content: center;
}

td.member {
  border: #c5bdbd;
  border-radius: 0.5rem;
  color: blue;
}

.inactive {
  color: gray;
  font-size: 1rem;
}

button {
  padding: 0.1rem 1rem;
  cursor: pointer;
}

button.Leave {
  padding: 0.1rem 0.9rem;
  border: 0.1rem solid #f00;
  color: #f00;
}

button.Join {
  padding: 0.5rem 1rem;
  border: 0.1rem solid;
}
